body {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .entry,
    .entry-content {
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

#popup {
    display: none;
}

#selectLocation {
    display: block;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url(./img/photo-of-person-walking-along-seashore-2602545.jpg);
    background-size: cover;
    background-position: center;
    width: 359px;
    height: 796px;
}

#loGo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4vh;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: darkslategray;
    letter-spacing: 10px;
}
#callToaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: -2vh;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: darkslategray;
    letter-spacing: 2px;
}

#searchButtons {
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    padding: 2em;
    float: none;
    align-items: center;
}

#buttonSearchlocation {
    color: white;
    margin-top: 1vh;
    margin-bottom: -1vh;
    text-decoration: none;
    font-size: 6vw;
    font-weight: 700;
    transition: all 0.2s;
    background-color: rgba(100, 255, 239, 0.53);
    border-radius: 40px;
    border: none;
    height: 5vh;
    width: 25vh;
}

#boxLocation {
    color: white;
    padding-left: 6vh;
    text-decoration: none;
    list-style: none;
    font-size: 5vw;
    font-weight: 500;
    transition: all 0.7s;
    background-color: rgb(219, 219, 219, 0.3);
    border-radius: 40px;
    border: none;
    height: 6vh;
    width: 25vh;
    letter-spacing: 4px;
}
.copyRight {
    margin-top: 9vh;
    margin-bottom: 0vh;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    color: white;
}

#screenWeather {
    display: none;
    background-image: url(./img/white-mountain-and-white-clouds-3182925.jpg);
    background-size: cover;
    background-position: center;
    width: 359px;
    height: 600px;
}
#weatherBox {
    display: flex;
    flex-direction: column;
    padding-top: 19vh;
}
#weatherText {
    font-size: 40px;
    font-weight: 700;
    padding: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}

#wantActivity {
    display: flex;
    flex-direction: column;
    align-content: left;
    margin-top: 10vh;
}
#temperature {
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
}
#currentCity {
    font-size: 30px;
    font-weight: 700;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#currentCountry {
    font-size: 30px;
    font-weight: lighter;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#weatherDescription {
    font-size: 30px;
    font-weight: lighter;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.textForaction {
    font-size: 2em;
    margin-top: 2px;
    margin-bottom: 23px;
    margin-right: 20px;
    font-weight: 700;
    text-align: end;
    color: rgba(0, 0, 0, 0.55);
}
#buttonGiveActivity {
    color: white;
    width: 20vh;
    padding: 2vh;
    margin-left: 22vh;
    margin-bottom: -1vh;
    text-decoration: none;
    font-size: 7vw;
    font-weight: 700;
    transition: all 0.2s;
    background-color: rgb(51, 206, 86);
    border-radius: 40px;
    border: none;
}
#screenActivity {
    display: none;
}

#twoActivities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
#buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 7vh;
}
#buttonOtherActivities {
    color: white;
    margin-top: 1vh;
    margin-bottom: -1vh;
    text-decoration: none;
    font-size: 6vw;
    font-weight: 700;
    transition: all 0.2s;
    background-color: rgb(51, 206, 86);
    border-radius: 40px;
    border: none;
    height: 6vh;
    width: 30vh;
}
#buttonBackToLocation {
    color: white;
    margin-top: 2vh;
    margin-bottom: -1vh;
    text-decoration: none;
    font-size: 6vw;
    font-weight: 700;
    transition: all 0.2s;
    background-color: rgb(0, 79, 255);
    border-radius: 40px;
    border: none;
    height: 6vh;
    width: 30vh;
}

#activity1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(27, 46, 255);
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    font-size: 32px;
    color: white;
    font-weight: 700;
    height: 200px;
    width: 318px;
    padding-top: 8vh;
}

#activity2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(27, 46, 255);
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    font-size: 32px;
    color: white;
    font-weight: 700;
    height: 200px;
    width: 318px;
    padding-top: 8vh;
}

#manyActivities {
    display: none;
}


